@{
	ViewBag.Title = "";
	ViewBag.MetaDescription = "";
	ViewBag.MetaKeywords = "";
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section head{
}
@section scripts{
}
<div class="page-content">
	<div id="promo-slider" class="slider flexslider">
		<ul class="slides">
			<li>
				<img src="assets/images/slides/slide-1.jpg" alt="" />
				<p class="flex-caption">
					<span class="main">北京英皇沙宣美发学校</span>
					<br />
					<span class="secondary clearfix">烫染课程报名即减1200</span>
				</p>
			</li>
			<li>
				<img src="assets/images/slides/slide-2.jpg" alt="" />
				<p class="flex-caption">
					<span class="main">北京英皇沙宣美发学校</span>
					<br />
					<span class="secondary clearfix">烫染课程报名即减1200</span>
				</p>
			</li>
			<li>
				<img src="assets/images/slides/slide-3.jpg" alt="" />
				<p class="flex-caption">
					<span class="main">北京英皇沙宣美发学校</span>
					<br />
					<span class="secondary clearfix">烫染课程报名即减1200</span>
				</p>
			</li>
			<li>
				<img src="assets/images/slides/slide-4.jpg" alt="" />
				<p class="flex-caption">
					<span class="main">北京英皇沙宣美发学校</span>
					<br />
					<span class="secondary clearfix">烫染课程报名即减1200</span>
				</p>
			</li>
		</ul>
		<!--//slides-->
	</div>
	<!--//flexslider-->
	@*<section class="promo box box-dark">        
	<div class="col-md-9">
		<h1 class="section-heading">Why College Green</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum orci eget nulla mattis, quis viverra tellus porta. Donec vitae neque ut velit eleifend commodo. Maecenas turpis odio, placerat eu lorem ut, suscipit commodo augue.  </p>
	</div>  
    <div class="col-md-3">
		<a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>Apply Now</a>  
    </div>
	</section>*@
	<!--//promo-->
	<section class="news">
		<h1 class="section-heading text-highlight"><span class="line">你可能感兴趣的</span></h1>     
		<div class="carousel-controls">
			<a class="prev" href="#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
			<a class="next" href="#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
        </div><!--//carousel-controls--> 
		<div class="section-content clearfix">
            <div id="news-carousel" class="news-carousel carousel slide">
                <div class="carousel-inner">
                    <div class="item active"> 
                        <div class="col-md-4 news-item">
                            <h2 class="title"><a href="news-single.html">沙宣•经典ABC剪裁课程</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-1.jpg"  alt="" />
                            <p>课程主要讲解ABC几何数据，经典方圆三角的最新概念，通过实战技术和演示讲解...</p>
                            <a class="read-more" href="news-single.html">报名<i class="fa fa-chevron-right"></i></a>                
                        </div><!--//news-item-->
						<div class="col-md-4 news-item">
                            <h2 class="title"><a href="news-single.html">沙宣•经典ABC剪裁课程</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-2.jpg"  alt="" />
                            <p>课程主要讲解ABC几何数据，经典方圆三角的最新概念，通过实战技术和演示讲解...</p>
                            <a class="read-more" href="news-single.html">报名<i class="fa fa-chevron-right"></i></a>                
                        </div><!--//news-item-->
						<div class="col-md-4 news-item">
                            <h2 class="title"><a href="news-single.html">沙宣•经典ABC剪裁课程</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-3.jpg"  alt="" />
                            <p>课程主要讲解ABC几何数据，经典方圆三角的最新概念，通过实战技术和演示讲解...</p>
                            <a class="read-more" href="news-single.html">报名<i class="fa fa-chevron-right"></i></a>                
                        </div><!--//news-item-->
                    </div><!--//item-->
                    <div class="item"> 
                        <div class="col-md-4 news-item">
                            <h2 class="title"><a href="news-single.html">沙宣•经典ABC剪裁课程</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-4.jpg"  alt="" />
                            <p>课程主要讲解ABC几何数据，经典方圆三角的最新概念，通过实战技术和演示讲解...</p>
                            <a class="read-more" href="news-single.html">报名<i class="fa fa-chevron-right"></i></a>                
                        </div><!--//news-item-->
                        <div class="col-md-4 news-item">
                            <h2 class="title"><a href="news-single.html">沙宣•经典ABC剪裁课程</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-5.jpg"  alt="" />
                            <p>课程主要讲解ABC几何数据，经典方圆三角的最新概念，通过实战技术和演示讲解...</p>
                            <a class="read-more" href="news-single.html">报名<i class="fa fa-chevron-right"></i></a>                
                        </div><!--//news-item-->
                        <div class="col-md-4 news-item">
                            <h2 class="title"><a href="news-single.html">沙宣•经典ABC剪裁课程</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-6.jpg"  alt="" />
                            <p>课程主要讲解ABC几何数据，经典方圆三角的最新概念，通过实战技术和演示讲解...</p>
                            <a class="read-more" href="news-single.html">报名<i class="fa fa-chevron-right"></i></a>                
                        </div><!--//news-item-->
                    </div><!--//item-->
                </div><!--//carousel-inner-->
            </div><!--//news-carousel-->
        </div><!--//section-content-->     
    </section>
	<!--//news-->
	<div class="row cols-wrapper">
		<div class="col-md-3">
			<section class="events">
                <h1 class="section-heading text-highlight"><span class="line">最新活动</span></h1>
                <div class="section-content">
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">5月</span>
                            <span class="date-number">18</span>
                        </p>
                        <div class="details">
                            <h2 class="title">北京郊游</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00 - 18:00</p>
                            <p class="location"><i class="fa fa-map-marker"></i>燕郊</p>                            
                        </div><!--//details-->
                    </div><!--event-item-->  
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">5月</span>
                            <span class="date-number">18</span>
                        </p>
                        <div class="details">
                            <h2 class="title">北京郊游</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00 - 18:00</p>
                            <p class="location"><i class="fa fa-map-marker"></i>燕郊</p>                            
                        </div><!--//details-->
                    </div><!--event-item-->  
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">5月</span>
                            <span class="date-number">18</span>
                        </p>
                        <div class="details">
                            <h2 class="title">北京郊游</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00 - 18:00</p>
                            <p class="location"><i class="fa fa-map-marker"></i>燕郊</p>                            
                        </div><!--//details-->
                    </div><!--event-item-->  
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">5月</span>
                            <span class="date-number">18</span>
                        </p>
                        <div class="details">
                            <h2 class="title">北京郊游</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00 - 18:00</p>
                            <p class="location"><i class="fa fa-map-marker"></i>燕郊</p>                            
                        </div><!--//details-->
                    </div><!--event-item-->  
                    <a class="read-more" href="events.html">所有活动<i class="fa fa-chevron-right"></i></a>
                </div><!--//section-content-->
            </section>
			<!--//events-->
		</div>
		<!--//col-md-3-->
		<div class="col-md-6">
			<section class="course-finder">
                        <h1 class="section-heading text-highlight"><span class="line">课程搜索</span></h1>
                        <div class="section-content">
                            <form class="course-finder-form" action="#" method="get">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5 subject">
                                        <select class="form-control subject">
                                            <option>选择分类</option>
                                            <option>摄影课程</option>
                                            <option>美发课程</option>
                                        </select>
                                    </div> 
                                    <div class="col-md-7 col-sm-7 keywords">
                                        <input class="form-control pull-left" type="text" placeholder="课程关键词" />
                                        <button type="submit" class="btn btn-theme"><i class="fa fa-search"></i></button>
                                    </div> 
                                </div>                     
                            </form><!--//course-finder-form-->
                            <a class="read-more" href="courses.html">查看所有的课程<i class="fa fa-chevron-right"></i></a>
                        </div><!--//section-content-->
						<div class="courses-wrapper">
							<div class="course-item-header row-divider hidden-sm hidden-xs">
								<div class="row">
									<div class="col-title col-md-4 col-sm-6">
										<strong>课程名称</strong>
									</div>
									<div class="col-meta col-md-8 col-sm-6">
										<div class="row">
											<div class="col-start col-md-3">
												<strong>开课时间</strong></div>
											<div class="col-location col-md-4">
												<strong>授课地点</strong></div>
										</div>
									</div>
									<!--//col-meta-->
								</div>
								<!---//row-->
							</div>
							<!--//course-item-header-->
							<article class="course-item row-divider">   
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a> <span class="label label-success">New</span></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>
													</div>
												</div><!--//col-meta-->                           
											</div><!--//details-->
										</article>
							<!--//course-item-->
							<article class="course-item row-divider">       
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a>  <span class="label label-warning"><i class="fa fa-heart"></i>热门</span></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>   
													</div>                                 
												</div><!--//col-meta-->                      
											</div><!--//details-->
										</article>
							<!--//course-item-->
							<article class="course-item row-divider">   
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>   
													</div>                                 
												</div><!--//col-meta-->                           
											</div><!--//details-->
										</article>
							<!--//course-item-->
						</div>
                    </section>
			<!--//course-finder-->
			<section class="video">
                        <h1 class="section-heading text-highlight"><span class="line">热门机构</span></h1>
                        <div class="carousel-controls">
                            <a class="prev" href="#videos-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                            <a class="next" href="#videos-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                        </div><!--//carousel-controls-->
                        <div class="section-content">
							<div class="courses-wrapper">
							<div id="videos-carousel" class="videos-carousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
							<div class="course-item-header row-divider hidden-sm hidden-xs">
								<div class="row">
									<div class="col-title col-md-4 col-sm-6">
										<strong>课程名称</strong>
									</div>
									<div class="col-meta col-md-8 col-sm-6">
										<div class="row">
											<div class="col-start col-md-3">
												<strong>开课时间</strong></div>
											<div class="col-location col-md-4">
												<strong>授课地点</strong></div>
										</div>
									</div>
									<!--//col-meta-->
								</div>
								<!---//row-->
							</div>
							<!--//course-item-header-->
							<article class="course-item row-divider">   
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a> <span class="label label-success">New</span></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>
													</div>
												</div><!--//col-meta-->                           
											</div><!--//details-->
										</article>
							<!--//course-item-->
							<article class="course-item row-divider">       
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a>  <span class="label label-warning"><i class="fa fa-heart"></i>热门</span></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>   
													</div>                                 
												</div><!--//col-meta-->                      
											</div><!--//details-->
										</article>
							<!--//course-item-->
							<article class="course-item row-divider">   
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>   
													</div>                                 
												</div><!--//col-meta-->                           
											</div><!--//details-->
										</article>
							<!--//course-item-->
						</div>
						<div class="item">
							<div class="course-item-header row-divider hidden-sm hidden-xs">
								<div class="row">
									<div class="col-title col-md-4 col-sm-6">
										<strong>课程名称</strong>
									</div>
									<div class="col-meta col-md-8 col-sm-6">
										<div class="row">
											<div class="col-start col-md-3">
												<strong>开课时间</strong></div>
											<div class="col-location col-md-4">
												<strong>授课地点</strong></div>
										</div>
									</div>
									<!--//col-meta-->
								</div>
								<!---//row-->
							</div>
							<!--//course-item-header-->
							<article class="course-item row-divider">   
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a> <span class="label label-success">New</span></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>
													</div>
												</div><!--//col-meta-->                           
											</div><!--//details-->
										</article>
							<!--//course-item-->
							<article class="course-item row-divider">       
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a>  <span class="label label-warning"><i class="fa fa-heart"></i>热门</span></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>   
													</div>                                 
												</div><!--//col-meta-->                      
											</div><!--//details-->
										</article>
							<!--//course-item-->
							<article class="course-item row-divider">   
											<div class="details row">
												<div class="col-title col-md-4 col-sm-6"><a href="course-single.html">摄影构图课</a></div>
												<div class="col-meta col-md-8 col-sm-6">
													<div class="row">
														<div class="col-start col-md-3">2014/10/5</div>
														<div class="col-location col-md-4">北京西城区</div>   
													</div>                                 
												</div><!--//col-meta-->                           
											</div><!--//details-->
										</article>
							<!--//course-item-->
						</div> 
                           @*<div id="videos-carousel" class="videos-carousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <iframe class="video-iframe" src="//www.youtube.com/embed/r9LelXa3U_I?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                    </div><!--//item-->
                                    <div class="item">            
                                        <iframe class="video-iframe" src="//www.youtube.com/embed/RcGyVTAoXEU?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                    </div><!--//item-->
                                    <div class="item">            
                                        <iframe class="video-iframe" src="//www.youtube.com/embed/Ks-_Mh1QhMc?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                    </div><!--//item-->
                                </div><!--//carousel-inner-->
                           </div><!--//videos-carousel-->                            
                            <p class="description">Aenean feugiat a diam tempus sodales. Quisque lorem nulla, ultrices imperdiet malesuada at, suscipit vel lorem. Nulla dignissim nisi ac aliquet semper.</p>*@
							</div>
							</div>
							</div>
                        </div><!--//section-content-->
                    </section>
			<!--//video-->
		</div>
		<div class="col-md-3">
			<section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">快捷通过</span></h1>
                        <div class="section-content">
                            <p><a href="#"><i class="fa fa-caret-right"></i>找课程</a></p>
                            <p><a href="#"><i class="fa fa-caret-right"></i>相册</a></p>
                            <p><a href="#"><i class="fa fa-caret-right"></i>找工作</a></p>
                            <p><a href="#"><i class="fa fa-caret-right"></i>联系我们</a></p>
                        </div><!--//section-content-->
                    </section>
			<!--//links-->
			<section class="testimonials">
                        <h1 class="section-heading text-highlight"><span class="line"> 课程评价</span></h1>
                        <div class="carousel-controls">
                            <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                            <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                        </div><!--//carousel-controls-->
                        <div class="section-content">
                            <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <blockquote class="quote">                                  
                                            <p><i class="fa fa-quote-left"></i>课程评价体系由四部分组成:课程目标与计划的评价;课程开设准备与投入评价;课程实施过程评价;课程实施效果评价.</p>
                                        </blockquote>                
                                        <div class="row">
                                            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">北京英皇沙宣美发</span><br /><span class="title">烫染课程</span></p>
                                            <img class="profile col-md-4 pull-right" src="assets/images/testimonials/profile-1.png"  alt="" />
                                        </div>                               
                                    </div><!--//item-->
                                    <div class="item">
                                        <blockquote class="quote">
                                            <p><i class="fa fa-quote-left"></i>
                                            课程评价体系由四部分组成:课程目标与计划的评价;课程开设准备与投入评价;课程实施过程评价;课程实施效果评价.</p>
                                        </blockquote>
                                        <div class="row">
                                            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">北京英皇沙宣美发</span><br /><span class="title"> 烫染课程</span></p>
                                            <img class="profile col-md-4 pull-right" src="assets/images/testimonials/profile-2.png"  alt="" />
                                        </div>                 
                                    </div><!--//item-->
                                    <div class="item">
                                        <blockquote class="quote">
                                            <p><i class="fa fa-quote-left"></i>
                                            课程评价体系由四部分组成:课程目标与计划的评价;课程开设准备与投入评价;课程实施过程评价;课程实施效果评价.</p>
                                        </blockquote>
                                        <div class="row">
                                            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">北京英皇沙宣美发</span><br /><span class="title"> 烫染课程</span></p>
                                            <img class="profile col-md-4 pull-right" src="assets/images/testimonials/profile-3.png"  alt="" />
                                        </div>                 
                                    </div><!--//item-->
                                    
                                </div><!--//carousel-inner-->
                            </div><!--//testimonials-carousel-->
                        </div><!--//section-content-->
                    </section>
			<!--//testimonials-->
		</div>
		<!--//col-md-3-->
	</div>
	<!--//cols-wrapper-->
	<section class="awards">
                <div id="awards-carousel" class="awards-carousel carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="logos">
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="assets/images/awards/award1.jpg"  alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="assets/images/awards/award2.jpg"  alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="assets/images/awards/award3.jpg"  alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="assets/images/awards/award4.jpg"  alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="assets/images/awards/award5.jpg"  alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="assets/images/awards/award6.jpg"  alt="" /></a>
                                </li>             
                            </ul><!--//slides-->
                        </div><!--//item-->
                        
                        <div class="item">
                            <ul class="logos">
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="assets/images/awards/award7.jpg"  alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="assets/images/awards/award6.jpg"  alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="assets/images/awards/award5.jpg"  alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="assets/images/awards/award4.jpg"  alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="assets/images/awards/award3.jpg"  alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="assets/images/awards/award2.jpg"  alt="" />
                                </li>             
                            </ul><!--//slides-->
                        </div><!--//item-->
                    </div><!--//carousel-inner-->
                    <a class="left carousel-control" href="#awards-carousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#awards-carousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
        
                </div>
            </section>
</div>
