body
{
	font-size: 16px;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background: #fff;
	color: #747f8c;
	font-family: "Open Sans" ,Arial, "Hiragino Sans GB" , "Microsoft YaHei" , "微软雅黑" , "STHeiti" , "WenQuanYi Micro Hei" ,SimSun,sans-serif;
}
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, hgroup, menu, nav, summary, time, mark, audio, video, header, footer
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background: transparent;
}*/
.logo
{
	width: 80px;
	height: 64px;
	float: left;
	display: inline-block;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}
.logo a
{
	width: 80px;
	height: 64px;
	display: block;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	/*background: #1D71B6;*/
}
a
{
	text-decoration: none;
	color: #38485a;
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.nav li
{
	display: inline-block;
}
.search
{
	margin-left: 60px;
}
.search
{
	display: inline-block;
	margin-left: 30px;
	margin-top: 18px;
	padding: 0;
	width: 200px;
}
.second-nav
{
	font-size: 14px;
	font-size: 1.4rem;
	float: right;
	height: 64px;
	line-height: 64px;
}
.second-nav li
{
	vertical-align: middle;
}
input[type=search]
{
	-webkit-appearance: none;
	color: #38485a;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	height: 20px;
	line-height: 20px;
	border: none;
	outline: none;
	resize: none;
}
input[type="search"]
{
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.second-nav ul li
{
	list-style: none;
	float: left;
}
.second-nav li
{
	list-style: none;
	display: inline-block;
}
.second-nav a
{
	color: #38485a;
	padding: 0 10px;
	display: block;
}
.header
{
	height: 64px;
	display: block;
	z-index: 1001;
	width: 100%;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.header-normal
{
	border-bottom: 1px solid #e6eaed;
}
.header .inner
{
	position: relative;
}
.row
{
	padding-left: 30px;
	padding-right: 30px;
}
.logo span
{
	width: 55px;
	height: 30px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -27px; /*background-image: url("36kr.png");*/
}
.main-nav__item
{
	color: #51aded;
	font-weight: bold;
	display: block;
	position: relative;
	padding: 10px 25px;
	font-size: 20px;
}
.nav > li > .main-nav__item:hover, .nav > li > .main-nav__item:focus
{
	background-color: #fff;
	color: #2397e8;
}
.toggle-nav
{
	position: absolute;
	right: 0;
}
.toggle-nav li
{
	display: inline-block;
}
.toggle-nav a
{
	font-size: 28px;
	font-size: 2.8rem;
	color: #747f8c;
	height: 64px;
	display: inline-block;
	padding: 18px 20px;
	border-left: 1px solid #e6eaed;
}
.toggle-nav span
{
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
}
.icon-menu:before
{
	content: "g";
}
[class^="icon-"]:before, [class*=" icon-"]:before
{
	font-family: "36kr" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-search:before
{
	content: "l";
}
.navbar-toggle .icon-bar
{
	background-color: #2397e8;
}
.navbar-toggle .icon-bar
{
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle
{
	border-color: #2397e8;
}
@media (min-width: 768px)
{
	.navbar-nav
	{
		margin-top: 8px;
		margin-left: 20px;
	}
}
ul#access
{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 16px;
}
ul#access li
{
	height: 40px;
	width: 200px;
}
ul#access li
{
	list-style-type: none;
}
ul#access a {
height: 40px;
line-height: 40px;
display: block;
border-left: 8px #fff solid;
padding-left: 28px;
text-align: left;
color: #555;
font-size: 16px;
}
ul#access li:hover a, ul#access li.current a {
	font-weight: bold;
	color: #2397e8;
	text-decoration: none;
	border-left: 8px #2397e8 solid;
	background: #f6f6f6;
}