@model List<Entity.Entities.ArticleImageEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">行业动态</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">您的位置:</li>
                            <li><a href="/">首页</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">行业动态</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header>
<div class="page-content">
    <div class="row page-row">
        <div class="news-wrapper col-md-8 col-sm-7">
            @foreach (var item in Model)
            {
                <article class="news-item page-row has-divider clearfix row">       
                    <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                        <img class="img-responsive" src="/Content/Upload/Images/@item.Photo" alt="@item.Title" />
                    </figure>
                    <div class="details col-md-10 col-sm-9 col-xs-8">
                        <h3 class="title"><a href="/News/Detail/@item.ID">@item.Title</a></h3>
                        <p>@item.Overview</p>
                        <a class="btn btn-theme read-more" href="/News/Detail/@item.ID">阅读全文<i class="fa fa-chevron-right"></i></a>
                    </div>
                </article>
                <!--//news-item-->
            }
            @*
            <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/images/news/news-thumb-2.jpg" alt="" />
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="news-single.html">Aenean eleifend ornare nisi id molestie</a></h3>
                                    <p>Donec feugiat enim sit amet nisl scelerisque, at sodales eros ullamcorper. Vestibulum nisi nisi, mattis sit amet elementum tincidunt, auctor vel metus. Morbi posuere elit mauris, eu cursus velit faucibus varius. Vestibulum dapibus massa arcu, sed vulputate enim suscipit eget. Mauris euismod orci magna. Nullam et lacinia dui. Sed massa neque, auctor sed nibh vel, congue adipiscing justo.</p>
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article>
            <!--//news-item-->
            <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/images/news/news-thumb-3.jpg" alt="" />
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="news-single.html">Quisque venenatis consequat commodo</a></h3>
                                    <p>Curabitur bibendum gravida odio, nec tempus libero varius ut. Nullam augue nibh, posuere nec pretium in, sagittis id magna. Aenean tellus augue, fermentum a purus vitae, adipiscing accumsan enim. Curabitur in leo vel sapien egestas laoreet vitae quis est. Fusce malesuada nulla et elit dictum, et porttitor turpis blandit.</p>
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article>
            <!--//news-item-->
            <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/images/news/news-thumb-4.jpg" alt="" />
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="news-single.html">Donec feugiat enim sit amet nisl scelerisque</a></h3>
                                    <p>Vivamus faucibus ullamcorper nunc, non vulputate neque vulputate nec. Vivamus ut ante a diam scelerisque consequat. Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio.</p>
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article>
            <!--//news-item-->
            <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/images/news/news-thumb-5.jpg" alt="" />
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="news-single.html">Ut eleifend dapibus ligula a ornare</a></h3>
                                    <p>Sed hendrerit scelerisque posuere. Sed eu ipsum cursus, vulputate augue nec, lobortis felis. Integer pellentesque rhoncus metus, non aliquet urna pharetra sed. Quisque ultrices justo egestas urna condimentum accumsan.</p>
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article>
            <!--//news-item-->
            <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/images/news/news-thumb-6.jpg" alt="" />
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="news-single.html">Pellentesque sollicitudin leo non lacinia mattis</a></h3>
                                    <p>Morbi bibendum consectetuer, vulputate, sollicitudin, primis ullamcorper vulputate sed risus dis feugiat vel gravida, class enim Mus aliquam ut donec sodales bibendum rutrum dis sit rutrum id eleifend. Dapibus potenti.</p>
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article>
            <!--//news-item-->*@
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <!--//news-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
            <section class="widget has-divider">
                <h3 class="title">摄影比赛</h3>
                <p>摄影比赛摄影比赛摄影比赛摄影比赛摄影比赛摄影比赛摄影比赛摄影比赛摄影比赛.</p>
            </section><!--//widget-->
            <section class="widget has-divider">
                <h3 class="title">即将开始的活动</h3>
                <article class="events-item row page-row">                                    
                        <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                            <p class="date-label">
                                <span class="month">六月</span>
                                <span class="date-number">18</span>
                            </p>
                        </div><!--//date-label-wrapper-->
                        <div class="details col-md-9 col-sm-8 col-xs-8">
                            <h5 class="title">摄影展</h5>  
                            <p class="time text-muted">10:00 - 18:00<br />北京博物馆</p>                  
                        </div><!--//details-->                                    
                </article>
                <article class="events-item row page-row">                                    
                        <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                            <p class="date-label">
                                <span class="month">六月</span>
                                <span class="date-number">18</span>
                            </p>
                        </div><!--//date-label-wrapper-->
                        <div class="details col-md-9 col-sm-8 col-xs-8">
                            <h5 class="title">摄影展</h5>  
                            <p class="time text-muted">10:00 - 18:00<br />北京博物馆</p>                  
                        </div><!--//details-->                                    
                </article>
                <article class="events-item row page-row">                                    
                        <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                            <p class="date-label">
                                <span class="month">六月</span>
                                <span class="date-number">18</span>
                            </p>
                        </div><!--//date-label-wrapper-->
                        <div class="details col-md-9 col-sm-8 col-xs-8">
                            <h5 class="title">摄影展</h5>  
                            <p class="time text-muted">10:00 - 18:00<br />北京博物馆</p>                  
                        </div><!--//details-->                                    
                </article>
            </section><!--//widget-->
            <section class="widget">
                <h3 class="title">照片流</h3>
                <ul id="flickr-photos"></ul><!--//flickr-photos-->
            </section><!--//widget--> 
        </aside>
    </div>
    <!--//page-row-->
</div>
<!--//page-content-->
</div><!--//page-->
